.BorderBox {
  border: 2px solid var(--green);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slightlyDarkBackground);
  &.square {
    border-radius: 16px;
  }
  &.circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}
