@import "reset.css";
@import "color.scss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

* {
  color: var(--white);
  font-family: "Fredoka", sans-serif;
}

body {
  // background-color: var(--black);
  background-color: #0f1119;
  overflow-x: hidden;

  --leftSidePadding: 300px;
  --navigationBarPadding: 20px;
  --mainContentPadding: var(--navigationBarPadding) * 5;
  --slightlyDarkBackground: rgba(0, 0, 0, 0.6);

  transition: 0.5s;
  &.M {
    font-size: 1.5rem;
  }
  &.L {
    font-size: 2rem;
  }
  > div:nth-of-type(1) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
  }
  > main {
    > div:nth-of-type(1) {
      position: fixed;
      z-index: 12;
      top: 0;
      left: 0;
      width: var(--leftSidePadding);
      height: 100vh;
      padding: var(--navigationBarPadding);
      border-right: 1.5px solid var(--grey);
      background-color: var(--slightlyDarkBackground);
    }
    > div:nth-of-type(2) {
      padding: 100vh calc(var(--mainContentPadding))
        calc(var(--mainContentPadding) / 2);
      width: calc(100% - var(--leftSidePadding));
      margin-left: var(--leftSidePadding);
      display: flex;
      flex-direction: column;
      gap: 200px 0;
      &::nth-of-type(2) + div {
        gap: 0;
      }
      > section {
        padding: 50px 0;
      }
    }
    > button:nth-last-of-type(1) {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      padding: 0;
      cursor: pointer;
      transition: 0.55s;
      z-index: 100;
      opacity: 1;
      scale: 1;

      &.scrollTop {
        z-index: -1;
        opacity: 0;
        scale: 0;
      }
      > div {
        padding: 0;
        overflow: hidden;
        transition: 1s;
        background-color: var(--slightlyDarkBackground);

        &:hover {
          // --grey: rgb(117, 117, 117);
          background-color: rgba(117, 117, 117, 0.3);
        }

        > img {
          width: 100%;
          height: 100%;
          scale: 0.9;
          animation: arrow ease-in 4s infinite forwards;
          @keyframes arrow {
            0% {
              transform: translateY(110%);
            }
            100% {
              transform: translateY(-110%);
            }
          }
        }
      }
    }
  }
}
