@import "reset.css";
@import "color.scss";

* {
  color: var(--white);
}

body {
  background-color: var(--black);
  overflow-x: hidden;

  --leftSidePadding: 300px;
  --contentPadding: 20px;

  &.middle {
    font-size: 1.5rem;
  }
  &.large {
    font-size: 2rem;
  }
  > div {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--leftSidePadding);
    height: 100vh;
    padding: var(--contentPadding);
    border-right: 1.5px solid var(--grey);
  }
  > main {
    padding: var(--contentPadding);
    width: calc(100% - var(--leftSidePadding) - var(--contentPadding) * 2);
    margin-left: var(--leftSidePadding);
  }
}
