.skills {
  > div {
    > div {
      display: flex;
      justify-content: flex-start;
      > .skillList {
        display: flex;
        flex-direction: column;
        gap: 50px 0;
        > div {
          cursor: pointer;
          &:hover > strong {
            color: var(--green);
            &::after {
              width: 100%;
            }
          }
          > strong {
            text-transform: capitalize;
            transition: 0.5s;
            position: relative;
            &::after {
              display: block;
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              width: 0;
              border-bottom: 1px solid var(--green);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}
